*{margin:0;padding:0;}
*{font-family:Tahoma, Arial, Helvetica, Sans-serif;}
table{
/*width:700px;*/
margin:0px auto;
font:Georgia 13px;
font-size:14px;
color:#333333;
text-align:center;
border-collapse:collapse;/*细线表格*/
}
table td{
border:1px solid #999;/*细线条颜色*/
height:24px;
}

tr.t1 td {background-color:#fff;}/* 交替行第一行的背景色 */
tr.t2 td {background-color:#eee;}/* 交替行第二行的背景色 */
tr.t3 td {background-color:#ccc;}/* 鼠标经过时的背景色 */
th,tfoot tr td{font-weight:bold;text-align:center;background:#c5c5c5;border:1px solid #999;}
th{line-height:30px;height:30px;border:1px solid #999;}
tfoot tr td{background:#fff;line-height:26px;height:26px;}
thead{border:1px solid #999;}
thead tr td{text-align:center;border:1px solid #999;}
#page{text-align:center;float:right;}
#page a,#page a:visited{height:22px;line-height:22px;border:1px black solid;display:block;float:left;margin:0 3px;background:#c9c9c9;
text-decoration:none;}
#page a:hover{background:#c1c1c1;text-decoration:none;}
.grayr {padding:2px;font-size:11px;background:#fff;float:right;}
.grayr a {padding:2px 5px;margin:2px;color:#000;text-decoration:none;;border:1px #c0c0c0 solid;}
.grayr a:hover {color:#000;border:1px orange solid;}
.grayr a:active {color:#000;background: #99ffff}
.grayr span.current {padding:2px 5px;font-weight:bold; margin:2px; color: #303030;background:#fff;border:1px orange solid;}
.grayr span.disabled {padding:2px 5px;margin:2px;color:#797979;background: #c1c1c1;border:1px #c1c1c1 solid;}
